In [ ]:
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv('Telecust1.csv')
df

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
0,2,13,44,64,1,9,4,5,0,0,2,A
1,3,11,33,136,1,7,5,5,0,0,6,D
2,3,68,52,116,1,24,1,29,0,1,2,C
3,2,33,33,33,0,12,2,0,0,1,1,A
4,2,23,30,30,1,9,1,2,0,0,4,C
...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,1,3,A
996,1,7,34,22,0,2,5,5,0,1,1,A
997,3,67,59,944,0,40,5,33,0,1,1,D
998,3,70,49,87,0,18,2,22,0,1,1,C
999,3,50,36,39,1,7,3,3,0,1,3,B

In [80]:
df.describe()

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside
count,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.0220,35.526000,41.684000,77.535000,0.495000,11.551000,2.671000,10.987000,0.047000,0.517000,2.331000
std,0.8162,21.359812,12.558816,107.044165,0.500225,10.086681,1.222397,10.082087,0.211745,0.499961,1.435793
min,1.0000,1.000000,18.000000,9.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.0000,17.000000,32.000000,29.000000,0.000000,3.000000,2.000000,3.000000,0.000000,0.000000,1.000000
50%,2.0000,34.000000,40.000000,47.000000,0.000000,9.000000,3.000000,8.000000,0.000000,1.000000,2.000000
75%,3.0000,54.000000,51.000000,83.000000,1.000000,18.000000,4.000000,17.000000,0.000000,1.000000,3.000000
max,3.0000,72.000000,77.000000,1668.000000,1.000000,55.000000,5.000000,47.000000,1.000000,1.000000,8.000000

In [81]:
df.isna().sum()

region     0
tenure     0
age        0
income     0
marital    0
address    0
ed         0
employ     0
retire     0
gender     0
reside     0
custcat    0
dtype: int64

In [82]:
df["custcat"].unique()

array(['A', 'D', 'C', 'B'], dtype=object)

In [83]:
df[df["income"]>100]

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
1,3,11,33,136,1,7,5,5,0,0,6,D
2,3,68,52,116,1,24,1,29,0,1,2,C
8,3,45,59,166,1,7,4,31,0,0,5,C
10,2,5,33,125,0,10,4,5,0,1,1,A
13,2,57,54,115,1,30,4,23,0,1,3,D
...,...,...,...,...,...,...,...,...,...,...,...,...
977,3,45,51,146,0,13,4,16,0,0,2,A
988,1,72,40,163,1,19,4,15,0,0,2,B
991,2,61,50,190,1,16,2,22,0,1,2,B
992,1,34,52,106,1,2,2,19,0,0,2,C
997,3,67,59,944,0,40,5,33,0,1,1,D

In [84]:
df[(df["marital"]==1) & (df["age"]<40)]

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
1,3,11,33,136,1,7,5,5,0,0,6,D
4,2,23,30,30,1,9,1,2,0,0,4,C
6,3,45,22,19,1,2,2,4,0,1,5,B
12,1,41,38,37,1,8,2,9,0,1,3,A
15,1,29,38,75,1,12,5,1,0,0,4,B
...,...,...,...,...,...,...,...,...,...,...,...,...
978,3,45,39,36,1,15,1,11,0,1,5,A
982,2,34,23,24,1,3,1,7,0,1,4,C
983,3,14,37,48,1,5,3,1,0,1,4,A
986,2,3,26,59,1,6,4,0,0,1,3,D
999,3,50,36,39,1,7,3,3,0,1,3,B

In [85]:
df[(df["gender"]==0) & (df["retire"]==1)]

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
67,1,72,67,51,1,44,1,34,1,0,2,C
77,2,38,71,10,0,27,2,12,1,0,1,A
143,2,72,60,31,1,21,1,38,1,0,2,B
242,3,61,76,15,0,39,1,29,1,0,1,C
291,1,72,63,15,1,29,5,31,1,0,2,C
338,2,5,69,11,0,0,2,14,1,0,1,A
391,2,72,60,12,1,33,1,20,1,0,3,D
441,3,1,59,9,0,4,1,4,1,0,1,C
452,2,10,56,9,0,26,2,6,1,0,2,A
619,1,60,64,33,0,14,2,13,1,0,1,D
643,3,3,64,9,0,3,2,6,1,0,1,A
697,2,65,72,12,0,46,2,0,1,0,1,C
741,3,60,57,72,1,18,5,30,1,0,2,D
773,3,49,63,10,0,18,2,2,1,0,1,C
808,3,63,67,9,0,22,2,12,1,0,1,C
844,3,61,73,25,0,10,1,21,1,0,1,A
909,2,18,69,11,0,28,1,17,1,0,1,A

In [86]:
df[df["ed"]>3]

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
0,2,13,44,64,1,9,4,5,0,0,2,A
1,3,11,33,136,1,7,5,5,0,0,6,D
8,3,45,59,166,1,7,4,31,0,0,5,C
10,2,5,33,125,0,10,4,5,0,1,1,A
13,2,57,54,115,1,30,4,23,0,1,3,D
...,...,...,...,...,...,...,...,...,...,...,...,...
987,1,4,30,45,0,1,4,6,0,0,3,D
988,1,72,40,163,1,19,4,15,0,0,2,B
994,1,15,46,63,1,17,5,1,0,0,2,D
996,1,7,34,22,0,2,5,5,0,1,1,A
997,3,67,59,944,0,40,5,33,0,1,1,D

In [87]:
df.groupby("custcat").mean()

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside
custcat,,,,,,,,,,,
A,2.090226,24.676692,39.657895,54.759398,0.417293,9.390977,2.364662,8.484962,0.041353,0.507519,2.199248
B,1.963134,43.345622,41.788018,74.834101,0.529954,12.571429,2.958525,10.576037,0.032258,0.548387,2.336406
C,1.996441,40.078292,44.430605,89.032028,0.494662,13.380783,2.153025,14.309609,0.078292,0.505338,2.227758
D,2.029661,35.144068,40.601695,92.000000,0.550847,10.868644,3.368644,10.228814,0.029661,0.512712,2.597458

In [88]:
df.groupby("region").count()

,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
region,,,,,,,,,,,
1,322,322,322,322,322,322,322,322,322,322,322
2,334,334,334,334,334,334,334,334,334,334,334
3,344,344,344,344,344,344,344,344,344,344,344

In [89]:
df.groupby("marital").max()

,region,tenure,age,income,address,ed,employ,retire,gender,reside,custcat
marital,,,,,,,,,,,
0,3,72,77,1668,55,5,47,1,1,6,D
1,3,72,74,608,49,5,44,1,1,8,D

In [90]:
df.groupby("reside").sum()

,region,tenure,age,income,marital,address,ed,employ,retire,gender,custcat
reside,,,,,,,,,,,
1,783,12707,16457,32432,0,4980,988,4456,31,195,ACACCABDDCCCCDBCADABAAACDACBDADDBCBBADAACACCAA...
2,547,10856,12118,22717,203,3541,727,3345,13,134,ACAADBBDDBCCBDAACDACACCDDDCBCCBADCCBABCCACBDAD...
3,270,4760,5361,9122,98,1240,383,1276,2,76,DBADCACABBBBBBBBADDCCDACAADACADDABDDCCAACCDDDC...
4,239,4329,4487,8388,108,1094,319,1202,1,61,CBDCCCABBDABAABBDDBBADACDBCCDABADBAADBBDBCDDAB...
5,116,1780,1997,2709,53,388,150,430,0,29,BCCABAAADBCBABCBABDBDDCBDCDADADCBDDDCACABCDCDD...
6,57,937,1050,1813,27,257,88,228,0,18,DDCCDCDDDADADCADDDAABDBBCBADC
7,8,103,149,289,4,40,10,37,0,3,AADD
8,2,54,65,65,2,11,6,13,0,1,DC

In [91]:
df.groupby("gender")["tenure"].mean()
df.groupby("gender")["income"].mean()
df.groupby("gender")["employ"].mean()

gender
0    10.507246
1    11.435203
Name: employ, dtype: float64

In [92]:
# df["Income_level"] = df["income"].apply(lambda x:"High" if x>100 else ("Medium" if x>=50 & x<=100 else "Low"))
df["Income_level"] = df["income"].apply(lambda x:"High" if x > 100 else ("Medium" if 50 <= x <= 100 else "Low"))

In [93]:
df

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat,Income_level
0,2,13,44,64,1,9,4,5,0,0,2,A,Medium
1,3,11,33,136,1,7,5,5,0,0,6,D,High
2,3,68,52,116,1,24,1,29,0,1,2,C,High
3,2,33,33,33,0,12,2,0,0,1,1,A,Low
4,2,23,30,30,1,9,1,2,0,0,4,C,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,1,3,A,Low
996,1,7,34,22,0,2,5,5,0,1,1,A,Low
997,3,67,59,944,0,40,5,33,0,1,1,D,High
998,3,70,49,87,0,18,2,22,0,1,1,C,Medium
999,3,50,36,39,1,7,3,3,0,1,3,B,Low

In [94]:
df["Senior_Citizen"] = df["age"].apply(lambda x: 1 if x >= 60 else 0)
df

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat,Income_level,Senior_Citizen
0,2,13,44,64,1,9,4,5,0,0,2,A,Medium,0
1,3,11,33,136,1,7,5,5,0,0,6,D,High,0
2,3,68,52,116,1,24,1,29,0,1,2,C,High,0
3,2,33,33,33,0,12,2,0,0,1,1,A,Low,0
4,2,23,30,30,1,9,1,2,0,0,4,C,Low,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,1,3,A,Low,0
996,1,7,34,22,0,2,5,5,0,1,1,A,Low,0
997,3,67,59,944,0,40,5,33,0,1,1,D,High,0
998,3,70,49,87,0,18,2,22,0,1,1,C,Medium,0
999,3,50,36,39,1,7,3,3,0,1,3,B,Low,0

In [95]:
# df["Years_until_retirement"] = df["retire"].apply(lambda x: 65 - x)

In [96]:
df[(df["income"]>100) & (df["ed"]>3)]

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat,Income_level,Senior_Citizen
1,3,11,33,136,1,7,5,5,0,0,6,D,High,0
8,3,45,59,166,1,7,4,31,0,0,5,C,High,0
10,2,5,33,125,0,10,4,5,0,1,1,A,High,0
13,2,57,54,115,1,30,4,23,0,1,3,D,High,0
22,3,53,33,101,0,10,5,4,0,1,2,D,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,3,66,50,333,1,2,5,24,0,0,2,B,High,0
962,3,49,51,222,1,14,5,16,0,0,2,B,High,0
977,3,45,51,146,0,13,4,16,0,0,2,A,High,0
988,1,72,40,163,1,19,4,15,0,0,2,B,High,0
997,3,67,59,944,0,40,5,33,0,1,1,D,High,0

In [97]:
df[(df["marital"] == 0) & ((df["income"] > 50) & (df["income"] < 100))]

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat,Income_level,Senior_Citizen
5,2,41,39,78,0,17,2,16,0,1,1,C,Medium,0
7,2,38,35,76,0,5,2,10,0,0,3,D,Medium,0
11,3,7,35,80,0,14,2,15,0,1,1,C,Medium,0
64,2,44,39,79,0,16,2,16,0,0,1,D,Medium,0
69,3,3,43,61,0,19,4,11,0,1,1,A,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,2,57,63,61,0,19,1,27,0,0,1,C,Medium,1
972,1,61,52,82,0,21,1,18,0,0,1,C,Medium,0
979,2,55,44,83,0,24,1,23,0,1,1,C,Medium,0
989,1,44,56,63,0,4,2,6,0,1,1,C,Medium,0
998,3,70,49,87,0,18,2,22,0,1,1,C,Medium,0

In [98]:
df[["region","age","income","custcat"]]

     region  age  income custcat
0         2   44      64       A
1         3   33     136       D
2         3   52     116       C
3         2   33      33       A
4         2   30      30       C
..      ...  ...     ...     ...
995       3   39      27       A
996       1   34      22       A
997       3   59     944       D
998       3   49      87       C
999       3   36      39       B

[1000 rows x 4 columns]

In [99]:
df.tail(3)

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat,Income_level,Senior_Citizen
997,3,67,59,944,0,40,5,33,0,1,1,D,High,0
998,3,70,49,87,0,18,2,22,0,1,1,C,Medium,0
999,3,50,36,39,1,7,3,3,0,1,3,B,Low,0

In [100]:
df.rename(columns={"employ":"years_of_employment"}, inplace=True)

In [101]:
df

,region,tenure,age,income,marital,address,ed,years_of_employment,retire,gender,reside,custcat,Income_level,Senior_Citizen
0,2,13,44,64,1,9,4,5,0,0,2,A,Medium,0
1,3,11,33,136,1,7,5,5,0,0,6,D,High,0
2,3,68,52,116,1,24,1,29,0,1,2,C,High,0
3,2,33,33,33,0,12,2,0,0,1,1,A,Low,0
4,2,23,30,30,1,9,1,2,0,0,4,C,Low,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,1,3,A,Low,0
996,1,7,34,22,0,2,5,5,0,1,1,A,Low,0
997,3,67,59,944,0,40,5,33,0,1,1,D,High,0
998,3,70,49,87,0,18,2,22,0,1,1,C,Medium,0
999,3,50,36,39,1,7,3,3,0,1,3,B,Low,0

In [102]:
df["gender"] =df["gender"].apply(lambda x: "Male" if x==1 else "Female")

In [103]:
df

,region,tenure,age,income,marital,address,ed,years_of_employment,retire,gender,reside,custcat,Income_level,Senior_Citizen
0,2,13,44,64,1,9,4,5,0,Female,2,A,Medium,0
1,3,11,33,136,1,7,5,5,0,Female,6,D,High,0
2,3,68,52,116,1,24,1,29,0,Male,2,C,High,0
3,2,33,33,33,0,12,2,0,0,Male,1,A,Low,0
4,2,23,30,30,1,9,1,2,0,Female,4,C,Low,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,Male,3,A,Low,0
996,1,7,34,22,0,2,5,5,0,Male,1,A,Low,0
997,3,67,59,944,0,40,5,33,0,Male,1,D,High,0
998,3,70,49,87,0,18,2,22,0,Male,1,C,Medium,0
999,3,50,36,39,1,7,3,3,0,Male,3,B,Low,0

In [104]:
df

,region,tenure,age,income,marital,address,ed,years_of_employment,retire,gender,reside,custcat,Income_level,Senior_Citizen
0,2,13,44,64,1,9,4,5,0,Female,2,A,Medium,0
1,3,11,33,136,1,7,5,5,0,Female,6,D,High,0
2,3,68,52,116,1,24,1,29,0,Male,2,C,High,0
3,2,33,33,33,0,12,2,0,0,Male,1,A,Low,0
4,2,23,30,30,1,9,1,2,0,Female,4,C,Low,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,Male,3,A,Low,0
996,1,7,34,22,0,2,5,5,0,Male,1,A,Low,0
997,3,67,59,944,0,40,5,33,0,Male,1,D,High,0
998,3,70,49,87,0,18,2,22,0,Male,1,C,Medium,0
999,3,50,36,39,1,7,3,3,0,Male,3,B,Low,0

In [105]:
df

,region,tenure,age,income,marital,address,ed,years_of_employment,retire,gender,reside,custcat,Income_level,Senior_Citizen
0,2,13,44,64,1,9,4,5,0,Female,2,A,Medium,0
1,3,11,33,136,1,7,5,5,0,Female,6,D,High,0
2,3,68,52,116,1,24,1,29,0,Male,2,C,High,0
3,2,33,33,33,0,12,2,0,0,Male,1,A,Low,0
4,2,23,30,30,1,9,1,2,0,Female,4,C,Low,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,27,0,0,3,0,0,Male,3,A,Low,0
996,1,7,34,22,0,2,5,5,0,Male,1,A,Low,0
997,3,67,59,944,0,40,5,33,0,Male,1,D,High,0
998,3,70,49,87,0,18,2,22,0,Male,1,C,Medium,0
999,3,50,36,39,1,7,3,3,0,Male,3,B,Low,0

In [106]:
df.drop(labels=["region","address"], axis=1, inplace=True)

In [107]:
char_col = df.select_dtypes(include=['object']).columns
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in char_col:
    df[col] = le.fit_transform(df[col])

In [108]:
df

,tenure,age,income,marital,ed,years_of_employment,retire,gender,reside,custcat,Income_level,Senior_Citizen
0,13,44,64,1,4,5,0,0,2,0,2,0
1,11,33,136,1,5,5,0,0,6,3,0,0
2,68,52,116,1,1,29,0,1,2,2,0,0
3,33,33,33,0,2,0,0,1,1,0,1,0
4,23,30,30,1,1,2,0,0,4,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,10,39,27,0,3,0,0,1,3,0,1,0
996,7,34,22,0,5,5,0,1,1,0,1,0
997,67,59,944,0,5,33,0,1,1,3,0,0
998,70,49,87,0,2,22,0,1,1,2,2,0
999,50,36,39,1,3,3,0,1,3,1,1,0

In [109]:
x = df.drop("custcat", axis=1)
x
y = df["custcat"]
y

0      0
1      3
2      2
3      0
4      2
      ..
995    0
996    0
997    3
998    2
999    1
Name: custcat, Length: 1000, dtype: int64

In [110]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2)

In [111]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [112]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [113]:
y_pred = knn.predict(x_test)

In [114]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.335