In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("diabetes.csv")
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [3]:
#target = Outcome
#no missing values
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
X = df.iloc[:,:-1]
X
y = df.iloc[:,-1]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [5]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
#here firstly the data is being divided as training data and testing data for better data confidentiality

In [7]:
# from sklearn.preprocessing import MinMaxScaler = it is one of the scalling method
from sklearn.preprocessing import StandardScaler#this is another method used for scaling
scaler = StandardScaler()
#only training data should be fit and transformed 
#if we fit the test data it may lead to data leakage and would affect the model so dont give it like that
X_train = scaler.fit_transform(X_train)
x_test = scaler.transform(X_test)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(x_test)

In [9]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.7077922077922078

In [ ]:
from sklearn.metrics import confusion_matrix
cm  = confusion_matrix(y_test,y_pred)
print(cm)
#[[70 17]
# [28 39]] == this is a confusion matrix [[ TP FP
                               #           FN TN ]] = [[ TP = 70  FP = 17
                               #                         FN = 28  TN = 39 ]]

[[70 17]
 [28 39]]